

PORT=8000
NODE_ENV=development

# Database configuration
DEV_DATABASE_URL=
DATABASE_PUBLIC_URL=

FRONTEND_URL=http://localhost:3000

# JWT configuration
JWT_SECRET=
JWT_REFRESH_SECRET=


# Stripe configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
